<%- include partials/header.ejs %>


<section class="jumbotron">
    <div class="container">
        <h1><%= title %></h1>

        <ul class="list-group well">
            <% for (var i = 0; i < menus.length; i++) { %>
                <li class="list-group-item">
                    <!-- link to /menus/:ids -->

                        <%= menus[i].item %>

                        <%= menus[i].description %>

                </li>
            <% } %>
        </ul>
    </div>  
</section>


<%- include ./partials/footer.ejs %>


